{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "chrome": "48",
        "ie": "11",
        "safari": "8",
        "esmodules": true,
        "browsers": [
          "> 0.25%", "last 20 versions", "not ie <= 8"
        ]
      }
    }],
    "es2015"
  ],
  "comments": false,
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["es2015"],
      "plugins": ["istanbul"]
    }
  }
}
