.form__group {

  @color-error: rgba(192, 31, 0, 0.85);
  @color-border: #d1d1d1;


  width: 100%;
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 15px;

  label{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    color: #515151;
    margin: 0;
    padding-bottom: 5px;
  }

  input, textarea, select {
    width: 100%;
    padding: 7px 15px;
    box-sizing: border-box;
    outline: none;

      &:hover{
        outline: none;
      }
  }

  &__errors{
    display: inline-block;
    width: 100%;
    color: @color-error;
    padding: 0 15px 7px;
    font-size: 13px;
    box-sizing: border-box;
  }

  select{
    cursor: pointer;
  }

  &--text, &--select{
    padding: 3px 0 0;
    border: 1px solid @color-border;
    background-color: #fff;
    border-radius: 4px;

    label{
      margin: 0;
      padding: 0 15px;
      z-index: 10;

      span{
        position: absolute;
        top: -2px;
        font-size: 18px;
        transition: top 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
      }
    }

    input, textarea, select {
      width: 100%;
      padding: 5px 15px;
      font-size: 18px;
      box-sizing: border-box;
      border: none !important;
      border-radius: 4px;
    }

  }

  &--select .select{

    @padding-h: 10px;

    display: inline-block;
    position: relative;
    width: 100%;
    height: 26px;

    &__input{
      display: inline-block;
      position: relative;
      height: 33px;
      width: 100%;
      font-size: 15px;
      color: #464646;
      min-width: 50px;
      border-radius: 3px;
      padding: 0 15px;
      box-sizing: border-box;
      cursor: pointer;

      span{
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        height: 100%;
        line-height: 30px;
      }

      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 45%; right: 10px;
        margin: -4px 0 0 0;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiBoZWlnaHQ9IjUwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MCA1MCIgd2lkdGg9IjUwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iNTAiIHdpZHRoPSI1MCIvPjxwb2x5Z29uIHBvaW50cz0iNDcuMjUsMTUgNDUuMTY0LDEyLjkxNCAyNSwzMy4wNzggNC44MzYsMTIuOTE0IDIuNzUsMTUgMjUsMzcuMjUgIi8+PC9zdmc+');*/
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTM5NSA3MzZxMCAxMy0xMCAyM2wtNDY2IDQ2NnEtMTAgMTAtMjMgMTB0LTIzLTEwbC00NjYtNDY2cS0xMC0xMC0xMC0yM3QxMC0yM2w1MC01MHExMC0xMCAyMy0xMHQyMyAxMGwzOTMgMzkzIDM5My0zOTNxMTAtMTAgMjMtMTB0MjMgMTBsNTAgNTBxMTAgMTAgMTAgMjN6Ii8+PC9zdmc+');
      }
    }

    &__dropdown{

      display: inline-block;
      position: absolute;
      width: 100%;
      max-width: 700px;
      margin-top: 7px;
      top: 100%; left: 0;
      background-color: #fff;
      border: 1px solid #cccccc;
      z-index: 100;
      border-radius: 2px;
      box-sizing: border-box;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);

      .list{
        display: inline-block;
        width: 100%;
        padding: 4px 0;
        box-sizing: border-box;
        max-height: 250px;
        overflow-y: auto;

        &__item{

          position: relative;
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-size: 14px;
          padding: 6px @padding-h 6px 34px;

          div{
            overflow: hidden;
          }

          &:before{
            content: '';
            display: inline-block;
            position: absolute;
            width: 18px;
            height: 18px;
            color: #dadada;
            left: @padding-h;
            top: 4px;
          }

          &--checked{
            &:before{
              color: #000;
              background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI3LjcwNCw4LjM5N2MtMC4zOTQtMC4zOTEtMS4wMzQtMC4zOTEtMS40MjgsMCAgTDExLjk4OCwyMi41OWwtNi4yODItNi4xOTNjLTAuMzk0LTAuMzkxLTEuMDM0LTAuMzkxLTEuNDI4LDBjLTAuMzk0LDAuMzkxLTAuMzk0LDEuMDI0LDAsMS40MTRsNi45OTksNi44OTkgIGMwLjM5LDAuMzg2LDEuMDM5LDAuMzg2LDEuNDI5LDBMMjcuNzA0LDkuODExQzI4LjA5OSw5LjQyMSwyOC4wOTksOC43ODcsMjcuNzA0LDguMzk3QzI3LjMxLDguMDA2LDI4LjA5OSw4Ljc4NywyNy43MDQsOC4zOTd6IiBmaWxsPSIjMTIxMzEzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGlkPSJDaGVjayIvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjwvc3ZnPg==');
              background-size: contain;
              background-repeat: no-repeat;
              background-color: transparent;
            }
          }

          &:hover{
            background-color: #eeeeee;
            cursor: pointer;
          }
        }
      }
      .footer{
        padding: 5px @padding-h;
        background-color: #c4e1f6;
        box-sizing: border-box;
        text-align: right;

        button{
          padding: 5px 10px;
          border: 0;
          background-color: #c4c4c9;
          color: #4c4c4c;
          cursor: pointer;
          &:hover{
            background-color: #464646;
            color: #fff;
          }
        }
      }

    }
  }

  &--view{
    padding: 2px 15px 2px;
    border: 1px solid #e3e3e3;
    background-color: #f7f7f7;
    border-radius: 4px;

    label{
      font-size: 14px;
      padding-bottom: 1px;
    }

    div{
      padding-bottom: 0;
      font-size: 18px;
    }
  }

  &--active&--text, &--active&--select{

    label{
      span{
        top: -10px;
        font-size: 14px;
      }
    }

    input, textarea, select {
      padding: 5px 15px;
    }

  }


  &--error{
    label{
      color: @color-error;
    }

    input, textarea, select {
      /*color: @color-error;*/
    }

    .form__group__errors{

    }
  }



  &--view-files{

    padding: 3px 0px 3px;
    border: 1px solid @color-border;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;

    label{
      margin: 0;
      padding: 0 15px;
      padding-bottom: 1px;
      z-index: 10;
      font-size: 14px;

      span{
        position: absolute;
        top: -2px;
        font-size: 18px;
        transition: top 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
      }
    }

    .files{
      padding: 0 15px;
      box-sizing: border-box;
      width: 100%;

      img{
        width: 100%;
        max-width: 400px;
      }

    }



  }

  &--file {

    padding: 3px 0px 3px;
    border: 1px solid @color-border;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;

    label{
      margin: 0;
      padding: 0 15px;
      z-index: 10;

      span{
        position: absolute;
        top: -2px;
        font-size: 18px;
        transition: top 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
      }
    }

    .file-list{

      margin: 10px 5px 0;
      box-sizing: border-box;
      width: 100%;

      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;
      flex-wrap: wrap;

      &__item{

        max-width: 250px;
        padding: 10px;
        box-sizing: border-box;
        flex-basis: 50%;

        .file-card{
          display: -webkit-flex;
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          flex-direction: row;
          flex-wrap: wrap;

          &__img{

            flex-basis: 100px;
            overflow: hidden;

            img{
              width: 100%;
              height: auto;
              max-height: 100px;
              float: left;
            }
          }

          &__info{
            flex-basis: calc(~'100% - 100px');
            padding-left: 10px;
            box-sizing: border-box;

            .name{
              display: inline-block;
              width: 100%;
              max-height: 50px;
              padding-bottom: 3px;
            }

            .size{
              display: inline-block;
              width: 100%;
              color: #919191;
              padding-bottom: 7px;
            }

            a{
              color: #365057;
              cursor: pointer;
            }

          }
        }

      }
    }

    .file-buttons{
      padding: 15px 0 5px 15px;
      box-sizing: border-box;
      width: 100%;

      .btn{
        cursor: pointer;
      }

    }

  }

  &--checkbox{

    border: none;

    [type="checkbox"]{
        position: absolute;
        visibility: hidden;
    }

    label{
      width: auto;
      padding-right: 10px;
      padding-bottom: 7px;
    }

    div{
      display: inline-block;
      position: relative;
      width: 36px;
      height: 18px;
      background-color: #ffffff;
      border-radius: 9px;
      cursor: pointer;
      top: 5px;
      border: 1px solid #e1e1e1;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        width: 18px;
        height: 18px;
        background-color: #b8b9c4;
        border-radius: 50%;
        box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
      }

      &.checked{
        &:after{
          background-color: #fff756;
          right: 0;
          transition: right 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        }
      }
    }
  }

  input[type=checkbox]{
    width: auto;
  }

  textarea{
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
  }

  &--html{
    .trumbowyg-button-group{
      display: inline-block;
      float: left;
      padding-right: 5px;
      padding-bottom: 5px;
    }

    button{
      width: auto; height: 24px;
      padding: 2px 2px;

      svg{
        width: 12px; height: 12px;
      }
    }

  }
}

.form__errors{
  color: rgba(192, 31, 0, 0.85);
  padding: 0;
  ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    li{
      padding: 0;
    }
  }
}

.form__buttons{
    display: inline-block;
    padding-top: 15px;
& > * {margin-right: 10px;}
}